.justify-content-md-center {
  flex-direction: column;
  margin: 0 0 5px 0;
}

#answer {
  display: flex;
  gap: 5px;
  margin: 5px 0 5px 0;
  padding-right: 0;
  padding-left: 0;
}

#answer button {
  width: 100%;
}

.offer {
  width: 25%;
}

#videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.video-player {
  background-color: black;
  width: 100%;
}

#video-wrapper {
  position: relative;
}

#waiting {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 240px;
  height: 40px;
}

/*---------------------------- Media Query ----------------------------*/

/*------------------- MEDIA QUERY FOR 60em WIDTH ------------------*/
@media (max-width: 60em) {
  .justify-content-md-center {
    gap: 5px;
  }

  #hangup,
  #call {
    width: 25%;
  }

  #answer button {
    width: 45%;
  }
}
/*------------------- MEDIA QUERY FOR 50em WIDTH ------------------*/
@media (max-width: 50em) {
  #answer button {
    width: 45%;
  }
}

/*------------------- MEDIA QUERY FOR 47.50em WIDTH ------------------*/
@media (max-width: 47.5em) {
  #answer button {
    width: 65%;
  }
}

/*------------------- MEDIA QUERY FOR 26.75em WIDTH ------------------*/
@media (max-width: 26.75em) {
  #videos {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

/*------------------- MEDIA QUERY FOR 25.75em WIDTH ------------------*/
@media (max-width: 25.75em) {
  #answer button {
    width: 85%;
  }
}

/*------------------- MEDIA QUERY FOR 22.5em WIDTH ------------------*/
@media (max-width: 22.5em) {
  #hangup,
  #call {
    width: 40%;
  }

  #answer button {
    width: 45%;
  }
}
